body{
    padding-top: 20px;
}
.nav-justified{
    background-color: #eee;
    border-radius: 5px;


    
}
.nav-justified > li >a >{

    color: #777;
    text-align: center;
    background-color: #e5e5e5;
  
    
    
    
}
.btn-lg{
    background-color: green !important;
}

.navbar{
    list-style-type: none;
}

.jumbotron{
    text-align: center;
    background-color:transparent
    ;
}
.jumbotron.btn{
    padding: 15px 25px;
    font-size: 22px;
}
.centro{
    text-align: center;
}